@model GTD.Models.SubTask

@using (Html.BeginForm("CreateInLine", "SubTask"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="subtask-form">
        <div class="subtask-title">
            增加子任务
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubTaskName)
            <input class="btn btn-default" style="width: 50px" type="submit" value="新增" />
        </div>
        @Html.ValidationMessageFor(model => model.SubTaskName)
        @Html.HiddenFor(model => model.TaskId)
    </div>
}
