@using System.Globalization
@using GTD.Models
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("收集箱", "ListTask", "Task", new { da = DateAttribute.收集箱.ToString() }, "") @ViewBag.TC[DateAttribute.收集箱.ToString()]</li>
                        <li>@Html.ActionLink("今日待办", "ListTask", "Task", new { da = DateAttribute.今日待办.ToString() }, "") @ViewBag.TC[DateAttribute.今日待办.ToString()]</li>
                        <li>@Html.ActionLink("下一步行动", "ListTask", "Task", new { da = DateAttribute.下一步行动.ToString() }, "") @ViewBag.TC[DateAttribute.下一步行动.ToString()]</li>
                        <li>@Html.ActionLink("明日待办", "ListTask", "Task", new { da = DateAttribute.明日待办.ToString() }, "") @ViewBag.TC[DateAttribute.明日待办.ToString()]</li>
                        <li>@Html.ActionLink("日程", "ListTask", "Task", new { da = DateAttribute.日程.ToString() }, "") @ViewBag.TC[DateAttribute.日程.ToString()]</li>
                        <li>@Html.ActionLink("将来也许", "ListTask", "Task", new { da = DateAttribute.将来也许.ToString() }, "") @ViewBag.TC[DateAttribute.将来也许.ToString()]</li>
                        <li>@Html.ActionLink("等待", "ListTask", "Task", new { da = DateAttribute.等待.ToString() }, "") @ViewBag.TC[DateAttribute.等待.ToString()]</li>
                        <li>@Html.ActionLink("已完成任务", "CompletedTask", "Task")</li>
                        <li>@Html.ActionLink("已删除任务", "DeletedTask", "Task")</li>
                        <li>@Html.ActionLink("周任务", "ListTaskofWeek", "Task", new { datestring = DateTime.Today.ToString(CultureInfo.InvariantCulture) }, "")</li>
                    </ul>
                </nav>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu2">
                        <li>@Html.ActionLink("备注", "Index", "Comment")</li>
                        <li>@*@Html.ActionLink("任务", "Index", "Task")*@</li>
                        <li>@Html.ActionLink("项目", "Index", "Project")</li>
                        <li>@Html.ActionLink("目标", "Index", "Goal")</li>
                        <li>@Html.ActionLink("场景", "Index", "Context")</li>
                        <li>@Html.ActionLink("子任务", "Index", "SubTask")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - wenlei's GTD tool</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
