@model GTD.Models.Comment

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Create", "Comment"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="comment-form">
        <div class="comment-title">
            增加备注
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
        </div>
        <p>
            <input type="submit" value="新增" />
        </p>
        @Html.ValidationMessageFor(model => model.Description)
        @Html.HiddenFor(model => model.TaskId)
    </div>
}
