@model GTD.Models.Pomodoro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pomodoro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Task.Headline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.Headline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCompletedPomodoro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCompletedPomodoro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWorkingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWorkingTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PomodoroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
