@model IEnumerable<GTD.Models.Pomodoro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            任务名称
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWorkingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompletedPomodoro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StarDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnDateTime)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Task.Headline)
        </td>
        <td>
            @(item.IsWorkingTime ? "工作" : "休息")
        </td>
        <td>
            @(item.IsCompletedPomodoro ? "是" : "否")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StarDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnDateTime)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PomodoroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PomodoroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PomodoroId })
        </td>
    </tr>
}

</table>
