@using GTD.Util
@model GTD.ViewModels.TasklistVM

@foreach (var p in Model.tl.Keys)
{
    <h3 class="sortgroup">@p</h3>
    <ul class="tasklist">
        @foreach (var item in Model.tl[p].ToList())
        {
            <li>
                <div class="pri @item.CssForPriority()"></div>
                <div class="process">
                    <div class="closeat @item.CssForOutCloseDateTime()">
                        @item.RemainderTimeString()
                    </div>
                    @Html.ActionLink("完成", "Complete", new { id = item.TaskId })
                    @Html.ActionLink("删除", "Delete", new { id = item.TaskId })
                    @Html.ActionLink("创建子任务", "Create", "SubTask", new { id = item.TaskId }, "")
                </div>
                <div class="title">
                    <div class="startat">
                        @if (item.StartDateTime != null)
                        {
                            @item.StartDateTime.Value.ToShortDateString()
                        }
                    </div>
                    @Html.ActionLink(item.Headline, "Details", new { id = item.TaskId }, new { @class = "link-title" })
                    <div class="context">
                        @if (item.Context != null)
                        {
                            @:@@@item.Context.ContextName
                        }
                    </div>
                    <div class="project">
                        @if (item.Pro != null)
                        {
                            @:#@item.Pro.ProjectName
                        }
                    </div>
                    <div class="subtaskcount">
                        @if (item.SubTasks != null && item.SubTasks.Count != 0)
                        {
                            <span class="glyphicon glyphicon-chevron-down"></span>
                            @item.SubTasks.Count
                        }
                    </div>
                </div>
            </li>
            <li class="subtaskpanel" style="display: none">
                <div>
                    <p>子任务list</p>
                </div>
            </li>
        }
    </ul>
}

<script>
    $(function () {
        $(".tasklist").sortable();
        $(".tasklist").disableSelection();
        $(".subtaskcount").click(function () {
            $(this).parent().parent().next().slideToggle("normal");
        });
    });
</script>