<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("创建任务", "Create", new { da = ViewBag.da.ToString() })  @Html.ActionLink("批量创建任务", "BatchCreate")
</p>

<p>
    @{
        Html.RenderAction("CreateInLine");
    }
</p>
<div id="listtasks">
    @Html.Action("GetTasks", new { da = ViewBag.da, sortOrder = ViewBag.SortOrder })
</div>
<div class="sort">
    <ul>
        <li>@Html.ActionLink("按优先级排序", "ListTask", "Task", new { da = ViewBag.da.ToString(), sortorder = "priority" }, "")</li>
        <li>@Html.ActionLink("按项目排序", "ListTask", "Task", new { da = ViewBag.da.ToString(), sortorder = "project" }, "")</li>
        <li>@Html.ActionLink("按开始日期排序", "ListTask", "Task", new { da = ViewBag.da.ToString(), sortorder = "startat" }, "")</li>
        <li>@Html.ActionLink("按结束日期排序", "ListTask", "Task", new { da = ViewBag.da.ToString(), sortorder = "closeat" }, "")</li>
        <li>@Html.ActionLink("按场景排序", "ListTask", "Task", new { da = ViewBag.da.ToString(), sortorder = "context" }, "")</li>
    </ul>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/autocompleteTrigger/jquery.caret.js"></script>
}