@model GTD.Models.SubTask

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SubTask</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubTaskName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubTaskName)
            @Html.ValidationMessageFor(model => model.SubTaskName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaskId, "Task")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TaskId", String.Empty)
            @Html.ValidationMessageFor(model => model.TaskId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsComplete)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsComplete)
            @Html.ValidationMessageFor(model => model.IsComplete)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsDeleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
