@model GTD.Models.SubTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SubTask</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubTaskName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubTaskName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Task.Headline)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Task.Headline)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsComplete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsComplete)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDeleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SubTaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
