@using GTD.Util
@model GTD.ViewModels.ProjectVM.ProjectDeatilVM

@{
    ViewBag.Title = "项目信息";
}

<h2>@Html.DisplayFor(model => model.Project.ProjectName)</h2>

<fieldset>
    <legend>Project</legend>

    项目状态：<span id="statue">@Html.DisplayFor(model => model.ProjectStaute)</span>

</fieldset>

<h3>未完成任务</h3>
<div id="errormsg" style="display:none" class="field-validation-error">还有未完成任务</div>
<ul class="tasklist">
    @foreach (var item in Model.ToDoTasks)
    {
        <li>
            <div class="pri @item.CssForPriority()"></div>

            <div class="process">
                <div class="closeat @item.CssForOutCloseDateTime()">
                    @item.RemainderTimeString()
                </div>

                @Html.ActionLink("完成", "Complete", new { id = item.TaskId })
                @Html.ActionLink("删除", "Delete", new { id = item.TaskId })
                @Html.ActionLink("创建子任务", "Create", "SubTask", new { id = item.TaskId }, "")
            </div>

            <div class="title">
                <div class="startat">
                    @if (item.StartDateTime != null)
                    {
                        @item.StartDateTime.Value.ToShortDateString()
                    }
                </div>

                @Html.ActionLink(item.Headline, "Details","Task", new { id = item.TaskId }, new { @class = "link-title" })

                <div class="context">
                    @if (item.Context != null)
                    {
                        @:@@@item.Context.ContextName
                    }
                </div>

                <div class="project">
                    @if (item.Pro != null)
                    {
                        @:#@item.Pro.ProjectName
                    }
                </div>
            </div>
        </li>
    }
</ul>

<h3>已完成任务</h3>
<ul class="tasklist">
    @foreach (var item in Model.CompletedTasks)
    {
        <li>
            <div class="pri @item.CssForPriority()"></div>

            <div class="process">
                @Html.ActionLink("未完成", "Complete","Task", new { id = item.TaskId },"")
                @Html.ActionLink("删除", "Delete", new { id = item.TaskId })
            </div>

            <div class="title">
                <div class="startat">
                    @if (item.CompleteDateTime != null)
                    {
                        @item.CompleteDateTime.Value.ToShortDateString()
                    }
                </div>

                @Html.ActionLink(item.Headline, "Details", "Task", new { id = item.TaskId }, new { @class = "link-title" })

                <div class="context">
                    @if (item.Context != null)
                    {
                        @:@@@item.Context.ContextName
                    }
                </div>

                <div class="project">
                    @if (item.Pro != null)
                    {
                        @:#@item.Pro.ProjectName
                    }
                </div>
            </div>
        </li>
    }
</ul>

<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Project.ProjectId }) |
    @Html.ActionLink("返回", "Index") |
    <a href="#" onclick="ComplteteProject()">完成项目</a> 
</p>


@Styles.Render("~/Content/bootstrap")


@section Scripts {
    <script>
        function ComplteteProject() {
            $.ajax({
                url: '@Url.Action("Complete", "Project")',
                data: { id: @Model.Project.ProjectId },
                type: 'post',
                cache: false,
                async: true,
                datetype:JSON,
                success: function (data) {
                    if (data===true) {
                        $("#statue").text("已完成");
                    } else {
                        $("#errormsg").css("display", "block");
                    }
                }
            });
        }
    </script>
}
