@using GTD.Util
@model GTD.ViewModels.ProjectVM.ProjectDeatilVM

@{
    ViewBag.Title = "项目信息";
}

<h2>项目信息</h2>

<fieldset>
    <legend>Project</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Project.ProjectName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.ProjectName)
    </div>
</fieldset>

<h3>未完成任务</h3>
<ul class="tasklist">
    @foreach (var item in Model.ToDoTasks)
    {
        <li>
            <div class="pri @item.CssForPriority()"></div>

            <div class="process">
                <div class="closeat @item.CssForOutCloseDateTime()">
                    @item.RemainderTimeString()
                </div>

                @Html.ActionLink("完成", "Complete", new { id = item.TaskId })
                @Html.ActionLink("删除", "Delete", new { id = item.TaskId })
                @Html.ActionLink("创建子任务", "Create", "SubTask", new { id = item.TaskId }, "")
            </div>

            <div class="title">
                <div class="startat">
                    @if (item.StartDateTime != null)
                    {
                        @item.StartDateTime.Value.ToShortDateString()
                    }
                </div>

                @Html.ActionLink(item.Headline, "Details", new { id = item.TaskId }, new { @class = "link-title" })

                <div class="context">
                    @if (item.Context != null)
                    {
                        @:@@@item.Context.ContextName
                    }
                </div>

                <div class="project">
                    @if (item.Pro != null)
                    {
                        @:#@item.Pro.ProjectName
                    }
                </div>
            </div>
        </li>
    }
</ul>

<h3>已完成任务</h3>
<ul class="tasklist">
    @foreach (var item in Model.CompletedTasks)
    {
        <li>
            <div class="pri @item.CssForPriority()"></div>

            <div class="process">
                @Html.ActionLink("未完成", "Complete", new { id = item.TaskId })
                @Html.ActionLink("删除", "Delete", new { id = item.TaskId })
            </div>

            <div class="title">
                <div class="startat">
                    @if (item.CompleteDateTime != null)
                    {
                        @item.CompleteDateTime.Value.ToShortDateString()
                    }
                </div>

                @Html.ActionLink(item.Headline, "Details", new { id = item.TaskId }, new { @class = "link-title" })

                <div class="context">
                    @if (item.Context != null)
                    {
                        @:@@@item.Context.ContextName
                    }
                </div>

                <div class="project">
                    @if (item.Pro != null)
                    {
                        @:#@item.Pro.ProjectName
                    }
                </div>
            </div>
        </li>
    }
</ul>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Project.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
