@model IEnumerable<GTD.Models.Project>

@{
    ViewBag.Title = "项目列表";
}

<h2>项目列表</h2>

<p>
    @Html.ActionLink("创建项目", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ProjectId }) |
            @Html.ActionLink("项目详情", "Details", new { id=item.ProjectId }) |
            @Html.ActionLink("删除", "Delete", new { id = item.ProjectId })
            @*|@Html.ActionLink("完成", "Complete", new { id = item.ProjectId })*@
        </td>
    </tr>
}

</table>
