@model IEnumerable<GTD.Models.Comment>

@{
    ViewBag.Title = "备注";
}

<h2>备注</h2>

<ul class="commentlist">
    @foreach (var item in Model)
    {
        <li>
            <div class="process">
                @Html.ActionLink("编辑", "Edit", new { id = item.CommentId }) |
                @Html.ActionLink("删除", "Delete", new { id = item.CommentId })
            </div>
            <div class="title">
                <div class="description">@Html.DisplayFor(modelItem => item.Description)</div>

                <div class="task">
                    @if (item.Task != null)
                    {
                        @Html.ActionLink(@item.Task.Headline, "Details", "Task", new { id = item.TaskId },"")
                    }
                </div>

            </div>
        </li>
    }
</ul>
